@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827; /* Tailwind gray-900 */
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
